html, body {
  margin: 0;
  font-family: futura, ubuntu, verdana;
}

header {
  width: 100%;
  height: 50px;
  color: red;
  text-align: center;
}

img {
  height: 250px;
  width: auto;
  overflow: hidden;
}

.content {
  margin: 0 1% 0 1%;
}

.tile {
  display: inline-block;
  background-color: #e2e2e2;
  border: 2px solid gray;
  color: #2e2322;
  overflow: hidden;
  width: 250px;
  height: 350px;
  margin-right: 10px;
}

.tile:hover {
  border: 2px solid orange;
}

.tile:active{
  border: 2px solid #336699;
}

.movie-title {
  text-align: left;
  font-size: 1.25em;
}

.movie-poster{
  text-align: center;
}

.movie-desc {
  text-align: left;
}